* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

h1 {
	margin-bottom: 20px;
}

.candidate-image {
	max-width: 400px;
	object-fit: contain;
}

.loading-animation-image {
	max-width: 250px;
}

ul {
	list-style-type: none;
}

li {
	padding: 7px;
	margin-bottom: 6px;
	border: 1px solid lightgrey;
}

li span {
	display: block;
}
